*.log
*.lastbuildstate
*.tlog
*.obj
*.idb
*.pdb
*.user
*.bin
LifecycleTools/Debug/
LifecycleTools/Release/
*.ilk
LifecycleTools/ipch/assetviewer_win32-151b3d42/assetviewer_win32-6d171f10.ipch
*.opensdf
*.sdf
*.suo
*.xcuserstate
xcuserdata/
LifecycleTools/.metadata/
LifecycleTools/.recommenders/
*.prefs